<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/companies" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/piu.png" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Piu Sano Cafe and Restaurant</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: The Plaza Bauan, Bauan, Philippines<br>
        Contact Number: (043) 425 4506<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        RESTAURANT STAFF<br>
        * Candidates must possess at least Vocational Diploma/Short Course Certificate.<br>
        * Bachelor's/College Degree in Food & Beverage Services Management or equivalent.<br>
        * At least 1 Year(s) of working experience in the related field is required for this position.<br>
        * Preferably 1-4 Yrs Experienced Employee specialized in Food/Beverage/Restaurant Service or equivalent.<br>
        * Fresh Graduates are welcome to apply.<br>
        * Willing to work on a shifting schedule, work during holidays and to render overtime.<br>
        * Willing to work on Japanese concept stores.<br>
        * Full time positions available<br>
        * Should be willing to start ASAP<br>
        * Willing to work in MOS Burger Midtown<br><br>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time, Permanent<br>
        Salary:&nbsp;&nbsp;&nbsp;Php14,000.00 - Php16,000.00 per month<br>
        Benefits:&nbsp;&nbsp;&nbsp;Employee discount, Opportunities for promotion, Paid training<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Paid training
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
