<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/companies" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/bo.jpg" />
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Bo's Coffee</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        Location: J. P. Rizal Street, Bauan, Luzon 4201 Philippines<br>
        Contact Number: 09177073107<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        CASHIER AND BARISTA<br>
        * Welcoming customers, informing them about specials or new items, answering questions, and accepting orders and payments.<br>
        * Prepare tea drinks and other beverages based on standard recipe and procedures<br>
        * Cleaning and restocking and dining areas, emptying trash and sanitizing equipment and utensils.<br>
        * Learning about beverage blends, food preparation<br>
        * Taking inventories<br>
        * Working as part of a fun, high-energy team.<br>
        * Adhering to all food safety regulations and quality controls.<br><br>

        QUALIFICATION:<br>
        - Candidates must possess a Vocational Diploma/ Short Course Certificate, Bachelor’s/ Degree in Food & Beverage Services Management, Hospitality/ Tourism/ Hotel Management,or equivalent.<br>
        - Experience in food and beverage preparation or customer service is preferred.<br>
        - Willing to be trained and to continue learning about food and beverage preparation.<br>
        - Exceptional listening and communication skills.<br>
        - Availability to around peak hours, including nights, early mornings, weekends, and holidays<br>
        - Commitment to customer satisfaction and service excellence.<br>
        - With good English communication skills<br>
        - Willingness to as part of a high-energy, efficient team in a fast-paced environment.<br>
        - Experience in using POS machine and cash handling is an advantage<br>
        - Can start ASAP.<br><br>

      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Benefits:&nbsp;&nbsp;&nbsp;Company events, Employee discount, Life insurance, Opportunities for promotion, Paid training, Promotion to permanent employee<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift, Shift system<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Tips
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
