<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="design">
      <div class="design1">
        <div>
          <ion-buttons slot="start">
          <ion-back-button defaultHref="/user-homepage" color="light" icon="arrow-back-circle-outline"></ion-back-button>
          </ion-buttons>
        </div>
        <ion-label class="subject">Companies</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="edit">
    <ion-item [button] = "true" [detail]="false" [routerLink]="['/mongkokbauan']">
      <ion-avatar slot="start">
        <img src="./assets/images/mongkok.jpg" />
      </ion-avatar>
      <ion-label>Mongkok Bauan</ion-label>
    </ion-item>
  
    <ion-item [button] = "true" [detail]="false" [routerLink]="['/piu-sano']">
      <ion-avatar slot="start">
        <img src="./assets/images/piu.png" />
      </ion-avatar>
      <ion-label>Piu Sano Cafe and Restaurant</ion-label>
    </ion-item>
  
    <ion-item [button] = "true" [detail]="false" [routerLink]="['/chico']">
      <ion-avatar slot="start">
        <img src="./assets/images/chico.jpg" />
      </ion-avatar>
      <ion-label>Chico's Boodle House</ion-label>
    </ion-item>
  
    <ion-item [button] = "true" [detail]="false" [routerLink]="['/johnny']">
      <ion-avatar slot="start">
        <img src="./assets/images/johnny.jpg" />
      </ion-avatar>
      <ion-label>Johnny Log's Cafe Bauan Branch</ion-label>
    </ion-item>
  
    <ion-item [button] = "true" [detail]="false" [routerLink]="['/american']">
      <ion-avatar slot="start">
        <img src="./assets/images/america.jpg" />
      </ion-avatar>
      <ion-label>American Ribs and Wings</ion-label>
    </ion-item>

    <ion-item [button] = "true" [detail]="false" [routerLink]="['/bocoffee']">
      <ion-avatar slot="start">
        <img src="./assets/images/bo.jpg" />
      </ion-avatar>
      <ion-label>Bo's Coffee</ion-label>
    </ion-item>

    <ion-item [button] = "true" [detail]="false" [routerLink]="['/brother']">
      <ion-avatar slot="start">
        <img src="./assets/images/brother.jpg" />
      </ion-avatar>
      <ion-label>Brother John's Coffee Cafe</ion-label>
    </ion-item>

    <ion-item [button] = "true" [detail]="false" [routerLink]="['/pascua']">
      <ion-avatar slot="start">
        <img src="./assets/images/pascua.jpg" />
      </ion-avatar>
      <ion-label>Pascua's Freestyle Kitchen</ion-label>
    </ion-item>

    <ion-item [button] = "true" [detail]="false" [routerLink]="['/hidden']">
      <ion-avatar slot="start">
        <img src="./assets/images/hidden.jpg" />
      </ion-avatar>
      <ion-label>Hidden Resto - Lomi & Pansit House</ion-label>
    </ion-item>

    <ion-item [button] = "true" [detail]="false" [routerLink]="['/toro']">
      <ion-avatar slot="start">
        <img src="./assets/images/toro.png" />
      </ion-avatar>
      <ion-label>El Toro German Restaurant</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
