<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/brother.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Brother John's Coffee Cafe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: La Paz St. Cor Kap Ponso ST Pob 2, Bauan, Luzon 4201 Philippines<br>
        Contact Number: 403424<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        STOREHOUSE MANAGER<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Store or Shift Manager is responsible for overseeing the assigned shift’s operations leading to the attainment and exceeding of sales targets.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;She/He shall be greatly concerned with the delivery of excellent customer service, thus maintaining the standards of high-quality products and service, for his shift.<br><br>

        QUALIFICATION:<br>
        - College graduate of HRM or any related course. Minimum one year of retail or six months of specialty coffee experience. Previous supervisory experience preferred.<br>
        - Basic computer skills required.<br>
        - Must be able to work overtime, including weekends, evenings and special events as needed.<br>
        - Well-organized and detail-oriented and able to multi-task.<br>
        - This position will require frequent standing and use of hands and arms.<br>
        - Must be able to lift up to 30lbs and frequently bend and twist from the waist.<br>
        - Frequently required to use hand and finger motions, handle or feel objects, reach with hands and arms.<br>
        - Must be able to adjust vision to both day and night lighting, and be able to focus on distant and close-range projects. Regularly required to handle food, hot beverages, and work with sharp objects.<br>
        - Must have excellent verbal and written English communication skills.<br>
        - Willing to deploy in Uptown Taguig.<br>
        - Can start ASAP<br><br>

      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Ability to commute/relocate:&nbsp;&nbsp;&nbsp;Reliably commute or planning to relocate before starting work (Required)<br>
        Experience:&nbsp;&nbsp;&nbsp;Store Management: 1 year (Preferred)<br>
        Language:&nbsp;&nbsp;&nbsp;English (Preferred)<br>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>