<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/pascua.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Pascua's Freestyle Kitchen</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: 23 F. Mangobos Street Poblacion, Bauan, Luzon 4201 Philippines<br>
        Contact Number: +63 43 702 8800<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        KITCHEN HELPER<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With or without prior experience, our world-class chef needs some helping hands!<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Have you always had a passion for food and cooking and are you excited to learn how the masters in their field create magic, that you are who we are looking for!!<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Long days, on your feet, in a hot kitchen is not for the faint of heart, but the passion for food and the happy faces of the guests make it so worth it at the end of the day, for the right person! Are you that person? Then join our team now!<br><br>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Language:&nbsp;&nbsp;&nbsp;English (Preferred)<br>
        Salary: Php500.00 - Php600.00 per day<br>
        Benefits:&nbsp;&nbsp;&nbsp;Paid training, Promotion to permanent employee<br>
        Schedule:&nbsp;&nbsp;&nbsp;10 hour shift, 12 hour shift, 8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Tips<br>
        COVID-19 considerations:&nbsp;&nbsp;&nbsp;All staff is fully vaccinated and have mask mandate during duty, sanitation protocols adhered to at all times, social distancing practiced.<br>
        Ability to commute/relocate:&nbsp;&nbsp;&nbsp;Pasig:Reliably commute or planning to relocate before starting work (Required)<br>
        License/Certification:&nbsp;&nbsp;&nbsp;Covid-19 vaccination card (Required)<br>
        Shift availability:Day Shift (Required), Night Shift (Required), Overnight Shift (Required)<br>
        
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>