<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./bg.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Johnny Log's Cafe Bauan Branch</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: Purok 6 Ortega Bldg Barangay, Bauan, 4201 Batangas<br>
        Contact Number: 09171388988<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        CAFE STAFF<br>
        Duties & Responsibilities:<br>
        &nbsp;&nbsp;&nbsp;* All round kitchen/dining staff<br>
        &nbsp;&nbsp;&nbsp;* Prep items needed for service<br>
        &nbsp;&nbsp;&nbsp;* Checks stocks and inventory<br>
        &nbsp;&nbsp;&nbsp;* Helps team to have efficient service<br><br>

      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Benefits:&nbsp;&nbsp;&nbsp;Employee discount, Staff meals provided<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Tips<br>
        Experience: Kitchen Team Member: 1 year (Preferred), Cafe staff: 1 year (Preferred)
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
