ion-header {
    display: flex;
    height: 50px;
    background-color: black;
  }
  
  ion-icon {
    padding:5px;
    color: white;
    font-size: 40px;
  }
  
  ion-title {
    padding: 5px;
    color: white;
  }

  ion-item {
    background-color: black;
    color: black;
  }

  #profile, #companies, #logout{
    color:black;
  }


  .iconbuttons {
    color: black;
    padding: 5px;
  }

  ion-content.background{
    --background: url(../../assets/images/bg.jpeg);

    ion-card.bguser{
      --ion-background-color: linear-gradient(to right, #0f0d0e, #6e6d6e);
    }

    .ion-padding{
      color: rgb(218, 214, 214);
      
    }

    ion-card{
      top: 7%;
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 10%;
      padding-right: 10%;
    }

    .title{
      font-size: 250%;
      font-style: inherit;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .title2{
      font-size: 150%;
    }

  }
  
  
  

