<ion-header [translucent]="true">
  <ion-icon name="menu" type  = "button" id = "menu"></ion-icon>
  <ion-popover trigger="menu" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item class = "buttongroup" >
            <ion-button fill = "clear" >
              <ion-icon name="person-circle-outline" class = "iconbuttons"></ion-icon>
            </ion-button>
            <ion-label class = "buttonlabel">Profile</ion-label>
          </ion-item>
          <ion-item class = "buttongroup">
            <ion-button fill = "clear" [routerLink]="['/companies']" >
              <ion-icon name="business-outline" class = "iconbuttons"></ion-icon>
            </ion-button>
            <ion-label class = "buttonlabel">Companies</ion-label>
          </ion-item>
          <ion-item class = "buttongroup">
            <ion-button fill = "clear" (click)="logout()" >
              <ion-icon name="log-out" class = "iconbuttons"></ion-icon>
            </ion-button>
            <ion-label class = "buttonlabel">Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-icon name = "search-circle"></ion-icon>
  <ion-title >
    HireME
  </ion-title>
</ion-header>

