ion-header {
    display: flex;
    height: 50px;
    background-color: black;
  }
  
  ion-icon {
    padding:5px;
    color: white;
    font-size: 40px;
  }
  
  ion-title {
    padding: 5px;
    color: white;
  }

  ion-item {
    background-color: black;
    color: black;
  }

  #profile, #companies, #logout{
    color:black;
  }


  .iconbuttons {
    color: black;
    padding: 5px;
  }

#container {
  height: 100%;
  width: 100%;
  background-color: gray;
}
  

