<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/hidden.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Hidden Resto - Lomi & Pansit House</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: Ilat South, San Pascual, Luzon 4204 Philippines<br>
        Contact Number: +63 908 163 7915<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        ASSISTANT COOK<br>
        * Responsible for preparing ingredients<br>
        * Processing customer orders<br>
        * Producing meals<br>
        * Cleaning workspace throughout the day to follow health and safety guidelines.<br>
        * Knows how to cook Lomi and Goto Batangas or willing to learn<br><br>

      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Salary:&nbsp;&nbsp;&nbsp;PUp to Php10,000.00 per month<br>
        Schedule:&nbsp;&nbsp;&nbsp;Shift system<br>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>