<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="/images/america.jpg"/>
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>American Ribs and Wings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: The Plaza Bauan, Bauan, Philippines<br>
        Contact Number: 0968 671 0844<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        SERVER / WAITER<br>
        Duties & Responsibilities:<br>
        &nbsp;&nbsp;&nbsp;* Keep everything in kitchen areas clean and sanitized.<br>
        &nbsp;&nbsp;&nbsp;* Wash the tables, utensils, cabinets and other equipment in the kitchen that are used for food preparation.<br>
        &nbsp;&nbsp;&nbsp;* Kitchen helpers also do food preparation.<br>
        &nbsp;&nbsp;&nbsp;* Work together with the cooks in preparing meals.<br>
        &nbsp;&nbsp;&nbsp;* They also assist the other kitchen staff in unloading shipment of foods and supplies that are needed in the kitchen.<br>
        &nbsp;&nbsp;&nbsp;* Kept everything in the kitchen in order.<br>
        &nbsp;&nbsp;&nbsp;* Pile the pans, pots and other kitchen utensils properly for ease in cooking.<br>
        &nbsp;&nbsp;&nbsp;* They are responsible for keeping the floor area neat.<br>
        &nbsp;&nbsp;&nbsp;* They need to mop and sweep the floor.<br><br>

        Requirements:<br>
        &nbsp;&nbsp;&nbsp;- At least High School Graduate<br>
        &nbsp;&nbsp;&nbsp;- with at least 6months experience in a korean restaurant<br>
        &nbsp;&nbsp;&nbsp;- Sound knowledge of food safety regulations<br>
        &nbsp;&nbsp;&nbsp;- The ability to work under pressure.<br>
        &nbsp;&nbsp;&nbsp;- Excellent time-management skills.<br>
        &nbsp;&nbsp;&nbsp;- Willing to start asap<br>
        &nbsp;&nbsp;&nbsp;- Can Speak basic english language<br>
        &nbsp;&nbsp;&nbsp;- Can do multi-tasking<br><br>


      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time, Permanent<br>
        Salary:&nbsp;&nbsp;&nbsp;Php14,000.00 - Php18,000.00 per month<br>
        Benefits:&nbsp;&nbsp;&nbsp;Paid training, Promotion to permanent employee<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift, Rotational shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Tips
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>

