ion-header {
    display: flex;
    height: 50px;
    background-color: black;
  }
  
  ion-icon {
    padding:5px;
    color: white;
    font-size: 40px;
  }
  
  ion-title {
    padding: 5px;
    color: white;
  }


div {

    margin-top: 50pxpx;
    height: 100%;
    width:100%;

}
ion-item {
  width: 100%;
}
.labels{
  width: 20%;
}

.details {
  width:80%;
}
#pink {
  background-color: pink;
}
ion-row{
  width: 100%;
}