<ion-header [translucent]="true">
  <ion-icon name="home" [routerLink]="['/user-homepage']"></ion-icon>
  <ion-icon name = "person-outline"></ion-icon>
  <ion-title >
    Profile
  </ion-title>
</ion-header>


<ion-content>
  <div>
     <ion-item *ngFor="let profile of profile" (click)="openProfile(profile)">
        <ion-col>
          <ion-row>
            <ion-item class="labels">
              <ion-label > Email: </ion-label>
            </ion-item>
            <ion-item class="details">
                <ion-label>
                {{ profile.email }}
             </ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="labels">
              <ion-label> Name:</ion-label>
            </ion-item >
            <ion-item class="details">
                <ion-label>
                {{ profile.name }}
             </ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="labels">
              <ion-label> Birthday:  </ion-label>
            </ion-item>
            <ion-item class="details">
                <ion-label>
                {{ profile.birthday }}
             </ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="labels">
              <ion-label> Gender:  </ion-label>
            </ion-item>
            <ion-item class="details">
                <ion-label>
                {{ profile.gender }}
             </ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="labels">
              <ion-label> Username: </ion-label>
            </ion-item>
            <ion-item class="details">
                <ion-label>
                {{ profile.username }}
             </ion-label>
            </ion-item>
          </ion-row>
        </ion-col>
     </ion-item>
  </div>
</ion-content>
