<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/companies" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/chico.jpg" />
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Chico's Boodle House</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        Location: The Plaza Bauan, Bauan, Philippines<br>
        Contact Number: 09273705066<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        DINING SERVERS<br>
        * Attends to all guest needs<br>
        * Respond to customer complaints tactfully and professionally<br>
        * Ensure food and beverage orders taken are complete and correct<br>
        * Ensure that food and beverage ordered by guest are delivered on time within the company standard<br>
        * Responsible for the cleanliness and completeness of table set up following the company standards<br>
        * Adheres company code of conduct<br>
        * Gives equal respect to his/her superiors and fellow employees<br>
        * Performs other related duties and function assigned by his/her superior<br>
        * Experience from a casual dining or quick service restaurant<br>
        * Excellent customer service skills<br>
        * Experience working in Japanese Restaurant is a plus<br><br>

      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Salary:&nbsp;&nbsp;&nbsp;Php15,000.00 - Php17,000.00 per month<br>
        Benefits:&nbsp;&nbsp;&nbsp;Employee discount, Opportunities for promotion, Paid training, Promotion to permanent employee<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Bonus pay
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
