<ion-header [translucent]="true">
  <ion-icon name = "search-circle"></ion-icon>
  <ion-title >
    HireME
  </ion-title>
</ion-header>
<ion-content>
  <div id="container">
    <div id="insidecontainer">
      <div id="leftpanel">
        <h1>Welcome! </h1>
        <p>HireMe is a website for people <br> seeking jobs in Bauan, Batangas</p>
      </div>
      <div id ="rightpanel">
        <ion-button type = "button" shape = "round" color = "light" end (click) = "already()"> Sign-in</ion-button>
        <ion-button type = "button" shape = "round" color = "secondary" end [routerLink] = "['/sign-up']"> Sign-up</ion-button>
        <div id = "insideright" >
        <h2> Sign-In</h2>
        <form [formGroup] = "credentials" (ngSubmit)="login()">
          <ion-item>
            <ion-input type = "email" placeholder = "Email" formControlName="email"></ion-input>
          </ion-item><br>
          <ion-item>
            <ion-input type = "password" placeholder = "Password" formControlName="password"></ion-input>
          </ion-item><br>
          <ion-button type = "submit"> SIGN-IN </ion-button>
          <ion-button type = "button" [routerLink] = "['/forgot']"  id = "forget">Forgot <br> Password</ion-button>
        </form>
        </div>
      
      </div>
    </div>
  </div>
</ion-content>