<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/companies" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header>
    <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/toro.png" />
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>El Toro German Restaurant</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        Location: Poblacion Bauan, Luzon 4201 Philippines<br>
        Contact Number: +63 918 490 8919<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        FOOD SERVER<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are looking for a competent Restaurant Server to take and deliver orders. You’ll be the face of our restaurant and responsible for our customers’ experiences.<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food server responsibilities include ensuring our tables are clean and tidy when guests arrive, presenting menus and serving food and beverages. You need to be quick on your feet (literally and metaphorically) and have a polite and friendly attitude. If you enjoy talking to people and thrive in a fast-paced workplace, we’d like to meet you.<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your ultimate goal will be to provide high-quality service that will help us maintain and attract customers.<br><br>

        RESPONSIBILITIES:<br>
        · Prepare restaurant tables with special attention to sanitation and order<br>
        · Attend to customers upon entrance<br>
        · Present restaurant menus and help customers select food/beverages<br>
        · Take and serve orders<br>
        · Answer questions or make recommendations for complementary products<br>
        · Collaborate with other restaurant servers and kitchen/bar staff<br>
        · Deal with complaints or problems with a positive attitude<br>
        · Issue bills and accept payment<br><br>

        REQUIREMENTS:<br>
        · Proven restaurant serving or waitering experience<br>
        · Hands-on experience in cashier duties<br>
        · Attention to cleanliness and safety<br>
        · Patience and customer-oriented approach<br>
        · Excellent people skills with a friendly attitude<br>
        · Responsible and trustworthy<br>
        · Bachelor of Hotel and Restaurant Management<br>


      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time<br>
        Salary:&nbsp;&nbsp;&nbsp;From Php20,000.00 per month<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay, Bonus pay, Yearly bonus<br>
        Ability to commute/relocate:&nbsp;&nbsp;&nbsp;Reliably commute or planning to relocate before starting work (Required)

      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
