<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/companies" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header
  >
  <ion-content fullscreen>
    <ion-card>
      <img src="./assets/images/mongkok.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Company Name</ion-card-subtitle>
        <ion-card-title>Mongkok Bauan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Location: The Plaza Bauan, Bauan, Philippines<br>
        Contact Number: (043) 702 8967<br><br>
        <h2>Full Job Description</h2>
      </ion-card-content>
      <ion-card-content>
        HOTEL CASHIER'S<br>
        * Graduated from Any Hotel & Restaurant Management, Travel Management, Tourism, Hospitality or equivalent.<br>
        * POS Cashiering experience is an Advantage<br>
        * Preferably with Food and Beverages Certificate<br>
        * With customer service experience<br>
        * Responsible and honest<br>
        * Willing to start immediately.<br>
        * Great compensation awaits.<br><br>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
        Job Types:&nbsp;&nbsp;&nbsp;Full-time, Permanent<br>
        Salary:&nbsp;&nbsp;&nbsp;Php14,000.00 - Php16,000.00 per month<br>
        Schedule:&nbsp;&nbsp;&nbsp;8 hour shift<br>
        Supplemental Pay:&nbsp;&nbsp;&nbsp;13th month salary, Overtime pay
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
